:root {
  --purple: #a282c4;
  --dark-purple: #652d90;
  --underline-purple: #e2cef8;
  --outline-purple: #b17beb80;
  --transparent: rgba(255, 255, 255, 0);
  --red: #ff5e6b;
  --green: #9ee6b8;
  --yellow: #fcf89c;
}

.underline {
  position: relative;
  background: linear-gradient(var(--underline-purple), var(--underline-purple))left bottom repeat-x;
  background-size: 100% 40%;
}

.subtitle {
  font-size: 1.2rem;
}

.header {
  font-size: 2rem;
}

/* Style posts links */
.medium-post-link {
  color: inherit;
  transition: 0.15s;
  text-decoration-color: var(--transparent);
}
.medium-post-link:hover {
  color: inherit;
  text-decoration-color: var(--purple);
}
.medium-post-link:active {
  text-decoration-color: inherit;
}

/* Style the font size of each article title */
div[data-medium-post-id='1'] > .medium-post > a > .medium-post-title{
  font-size: 2.7rem;
}
div[data-medium-post-id='2'] > .medium-post > a > .medium-post-title{
  font-size: 2rem;
}
div[data-medium-post-id='3'] > .medium-post > a > .medium-post-title,
div[data-medium-post-id='4'] > .medium-post > a > .medium-post-title{
  font-size: 1.2rem;
}

/* Style the image size of each article title */
.medium-post-img {
  width: 100%;
  object-fit: cover;
}
div[data-medium-post-id='1'] > .medium-post > a > .medium-post-img{
  height: 400px;
}
div[data-medium-post-id='2'] > .medium-post > a > .medium-post-img{
  height: 200px;
}
div[data-medium-post-id='3'] > .medium-post > a > .medium-post-img,
div[data-medium-post-id='4'] > .medium-post > a > .medium-post-img{
  height: 150px;
}

/* Make a custom color button */
.btn-custom-purple {
  color: #ffffff;
  background-color: var(--dark-purple);
  border-color: var(--dark-purple);
  font-weight: bold;
}

.btn-custom-purple:hover,
.btn-custom-purple:active,
.btn-custom-purple:focus,
.btn-custom-purple.active {
  background: #ffffff;
  color: var(--purple);
  border-color: var(--purple);
}

.btn-custom-purple:focus {
  box-shadow: 0 0 0 .2rem var(--outline-purple);
}
