:root {
  --trans-purple: rgba(177, 123, 235, 0.250);
  --white: #ffffff;
}

h1 {
  font-size: 3rem;
}

.underline {
  position: relative;
  background: linear-gradient(var(--trans-purple), var(--trans-purple))left bottom repeat-x;
  background-size: 100% 4 0%;
}

.subtitle {
  font-size: 1.1rem;
}

/* Style posts links */
.medium_post_link {
  color: inherit;
  transition: 0.15s;
  text-decoration-color: rgba(255, 255, 255, 0);
}
.medium_post_link:hover {
  color: inherit;
  text-decoration-color: #a282c4;
}
.medium_post_link:active {
  text-decoration-color: inherit;
}


.medium_posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.medium_post_img {
  width: 100%;
  object-fit: cover;
}

.medium_post_author {
  font-size: 1rem;
}

/* Style the font size of each article title */
div[data-medium-post-id='1'] > .medium_post > a > .medium_post_title{
  font-size: 2.7rem;
}

div[data-medium-post-id='2'] > .medium_post > a > .medium_post_title{
  font-size: 2rem;
}

div[data-medium-post-id='3'] > .medium_post > a > .medium_post_title,
div[data-medium-post-id='4'] > .medium_post > a > .medium_post_title{
  font-size: 1.2rem;
}

/* Style the image size of each article title */
div[data-medium-post-id='1'] > .medium_post > a > .medium_post_img{
  height: 400px;
}

div[data-medium-post-id='2'] > .medium_post > a > .medium_post_img{
  height: 200px;
}

div[data-medium-post-id='3'] > .medium_post > a > .medium_post_img,
div[data-medium-post-id='4'] > .medium_post > a > .medium_post_img{
  height: 150px;
}

/* Make a custom color button */
.btn-custom-purple {
  color: #ffffff;
  background-color: #a282c4;
  border-color: #a282c4;
  font-weight: bold;
}

.btn-custom-purple:hover,
.btn-custom-purple:active,
.btn-custom-purple:focus,
.btn-custom-purple.active {
  background: #ffffff;
  color: #a282c4;
  border-color: #a282c4;
}

.btn-custom-purple:focus {
  box-shadow:0 0 0 .2rem rgb(177, 123, 235, 0.5);
}