.faq-header {
    background-color: var(--underline-purple);
}
.faq-body {
    background-color: #efe1ff;
}
.faq-card, .faq-header, .faq-body {
    border-color: var(--purple);
}
.faq-btn {
    font-size: 1.2rem;
}
.faq-link {
    color: inherit;
    transition: 0.15s;
    text-decoration: underline;
    text-decoration-color: var(--transparent);
}
.faq-link:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--dark-purple);
}
.faq-link:active {
    text-decoration: underline;
    text-decoration-color: inherit;
}

.faq-answer-link {
    color: var(--dark-purple);
    transition: 0.15s;
    text-decoration: underline;
}
.faq-answer-link:hover {
    color: #985fc4;
    text-decoration: underline;
    text-decoration-color: #985fc4;
}
.faq-answer-link:active {
    color: var(--dark-purple);
    transition: 0.15s;
    text-decoration: underline;
}

/* Services carrousel */
.services-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}