:root {
    --purple: rgb(162, 130, 196);
    --underline-purple: rgba(177, 123, 235, 0.250);
    --outline-purple: rgb(177, 123, 235, 0.5);
    --transparent: rgba(255, 255, 255, 0);
  }
  
  .underline {
    position: relative;
    background: linear-gradient(var(--underline-purple), var(--underline-purple))left bottom repeat-x;
    background-size: 100% 40%;
  }
  
  p {
    font-size: 1.3rem;
  }

  .expand {
    font-size: 1rem; 
    background-color:var(--underline-purple);
    text-align:center; 
    display:inline-block;  
    color:black;
    text-decoration: none;  
    box-shadow: 3.5px 2px;
    padding:.2em;
  }

  .expand:hover {
    font-size: 1rem; 
    background-color:var(--outline-purple);
    text-align:center; 
    display:inline-block;  
    color:black;
    text-decoration: none;  
    box-shadow: 3.5px 2px;
    padding:.2em;
  }


  .listSickness {
    font-size: 1.3rem;
  }

  .infoLegend{
    font-size: .93rem;
  }

  .borderAgenda {
    border-left: solid 3px;
    border-color: black;
    width: 50px;
  }

  .borderClock {
    border-left: solid 2px;
    border-right: solid 2px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
    width: 50px;
    background-color:var(--underline-purple);
    padding-left:2em; 
    padding-right:2em; 
    text-decoration:none; 
    color:black;
  }

  .cardActivity {
    background-color: var(--underline-purple);
    width: 80%;
    box-shadow: 3px 2px;
    padding:.2em;
    border-color: var(--outline-purple);
    margin-left: 3vw;
    border-radius: 10px;
  }

  .noAttendTitle{
      text-align: center;
      font-size: 1.2em;
  }

  .noAttend{
    text-align: center;
    font-size: 1em;
}
  
  .header {
    font-size: 3rem;
  }
  .carrousel-sizing{
    width: 100%;
    margin-left: 3vw;
  }
/* Custom title */
.custom-title {
  color: #ffffff;
  background-color: var(--outline-purple);
  font-weight: bold;
  color: black;
  font-size: 1em;
}
  
/* Custom section */
#info-block section {
  border: 3px solid black;
}

.file-marker > div {
    height: auto;
    margin-top: -2em;
    padding-left: 1em;
    padding-right: 1em;
    
}
.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 1px;
    margin-left: 1em;
}

/* Custom size for images */
.principal{
  height: 50vh;
  width: 100vw;
}

.wide{
  width: 80vw;
  height: 50vh;
}
